<div class="navbar-fixed">
  <nav class="light-blue darken-4 textoftop">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">James Lai</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="cali.ejs">California</a></li>
        <li><a href="#bio">Bio</a></li>
        <li><a href="#death">Death</a></li>
        <li><a href="#quotes">Quotes</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#video">Video</a></li>
        <li><a href="#bio">Bio</a></li>
        <li><a href="#death">Death</a></li>
        <li><a href="#quotes">Quotes</a></li>
      </ul>
    </div>
  </nav>
</div>
