<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/header.ejs %>
  </head>

  <body class="background">
    <% include ../partials/nav.ejs %>

<div class="center-block center">

      <h1 class="center title">MACE WINDU</h1>

      <img src="http://assets2.ignimgs.com/2015/06/02/samuel-l-jackson-mace-windu-1280jpg-c49893_1280w.jpg" width="100%">
      <br>
      <br>
      <iframe id="video" width="854" height="480" src="https://www.youtube.com/embed/4ESOrF_u1hg" frameborder="0" class="center-block" allowfullscreen></iframe>
      <br>

      <!-- This is the top row -->
      <div id="bio" class="row">
        <div class="col l6">
          <div class="card cffd54f">
            <div class="card-content">
              <span class="card-title">Who is this Mace Windu guy</span>
                <p>Mace Windu is a jedi master and a member of the High Jedi Council. He promoted their ancient traditions and
                 did his best to stop evil. He becomes one of the first to start suspecting the Chancellor of being alligned with the Dark Side,
               and eventually gathers 3 fellow Jedi members to bring him under arrest. However, they were quickly slain, leaving just Mace Windu
              and the Chancellor.</p>
            </div>
          </div>
        </div>
        <div class="col l6">

          <div class="slider">
            <ul class="slides">
              <!-- SLIDE 1 ONE -->
              <li>
                <img src="http://img.lum.dolimg.com/v1/images/Mace-Windu_b35242e5.jpeg?region=0%2C0%2C1637%2C921&width=768"> <!-- random image -->
                <div class="caption left-align">
                  <h3>Mace Windu</h3>
                </div>
              </li>
              <!-- SLIDE 2 TWO -->
              <li>
                <img src="http://static.srcdn.com/wp-content/uploads/samuel-l-jackson-mace-windu.jpg"> <!-- random image -->
                <div class="caption right-align">
                  <h5 class="light grey-text text-lighten-3">Mace Windu's Stance</h5>
                </div>
              </li>
              <!-- SLIDE 3 THREE -->
              <li>
                <img src="http://media.vanityfair.com/photos/577521ef6931697171bfa484/master/pass/samuel-l-jackson-mace-windu.jpg"> <!-- random image -->
                <div class="caption left-align">
                  <h5 class="light grey-text text-lighten-3">Windu in Thought</h5>
                </div>
              </li>
              <!-- SLIDE 4 FOUR -->
              <li>
                <img src="http://dorksideoftheforce.com/files/2016/06/macewindu.jpg"> <!-- random image -->
                <div class="caption right-align">
                  <h5>Mace Windu's End</h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- This is the second row -->
      <div id="death" class="row">
        <div class="col l6">
          <div class="card cffd54f">
            <div class="card-content">
              <span class="card-title">Death</span>
                <p>While fighting Chancellor Palpatine, Mace Windu eventually gained the upperhand and disarmed him.
                  Unfortunately for the Jedi Master, Anakin arrived just as Mace Windu cornered the evil Sith. Using his charisma, Palpatine
                  persuaded Anakin to save him. Anakin sliced off Mace Windu's arm while he was going for the kill, and the Chancellor
                  blasted him with his evil lightning, and sent him flying off a building.</p>
                  <br>
                  <!-- Modal Trigger -->
                  <div class="center-block center">
                  <button data-target="spoiler" class="btn">SPOILER</button>
                  </div>

                  <!-- Modal Structure -->
                  <div id="spoiler" class="modal">
                    <div class="modal-content">
                      <h4 class="center">SPOILER</h4>
                      <h1 class="center">Mace Windu dies</h1>
                      <p class="center">His death was truly a great loss for the jedi. At this point, the Sith had trumped the Jedi, and Anakin has
                      fallen completely to the dark side upon this betrayal. Knowing he can't go back, this leads to the birth of Darth Vader.</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>

            </div>
          </div>
        </div>
        <div class="col l6">
          <ul class="collapsible cffd54f" data-collapsible="accordion">

            <li>
              <div class="collapsible-header"><i class="material-icons">contact_phone</i>Affiliations</div>
              <div class="collapsible-body">
              <ul class="with-bullets">
                <li>Jedi Order</li>
                <li>Jedi High Council</li>
                <li>Old Guard</li>
                <li>Galatic Republic</li>
                <li>Ghosh Windu</li>
              </ul>
                </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">android</i>Masters</div>
              <div class="collapsible-body">
                <ul class="with-bullets">
                  <li>Yoda</li>
                  <li>T'ra Saa</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Apprentices</div>
              <div class="collapsible-body">
                <ul class="with-bullets">
                  <li>Depa Billaba</li>
                  <li>Devan For'deschel</li>
                  <li>Echuu Shen-Jon</li>
                  <li>Unidentified failed Padawan</li>
                  <li>Darrus Jeht (Informal)</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- This is the third row -->
      <div id="quotes" class="row">
        <div class="col l6">
          <div class="card cffd54f">
            <div class="card-content">
              <span class="card-title">Quotes</span>
                <p>"You must realize there aren't enough Jedi to protect the Republic. We're keepers of the peace, not soldiers."
                <br>
                <br>
                -"There's no doubt the mysterious warrior was a Sith."
                <br>
                -"Always two, there are. No more, no less. A master and an apprentice."
                <br>
                -"But which one was destroyed, the master or the apprentice?"
                <br>
                <br>
                "This party's over."
                <br>
                <br>
                "General Windu! Perhaps we can come to a compromise."
                "Not when I hold all the cards."
                <br>
                <br>
                "You will take us to the holocron… And you will take us now."
                </br>
              </p>
            </div>
          </div>
        </div>
        <div class="col l6">
            <img src="http://static.comicvine.com/uploads/original/11120/111202517/4358808-mace3.jpg" height="400px" width ="100%" class="center-block">
        </div>
      </div>

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h4 class="white-text center">Motivation</h5>
              <p class="grey-text text-lighten-4 center">You too, can make a website like this just like me!</p>

              <img src="http://i.imgur.com/fw4iQBn.png" width="500px" height="auto">
            </div>
            <div class="col l4 offset-l2 s12">
              <h4 class="white-text">Related Characters</h5>
              <ul>
                <h5><li><a class="grey-text text-lighten-3" href="#!">Anakin Skywalker</a></li></h5>

                <h5><li><a class="grey-text text-lighten-3" href="#!">Yoda</a></li></h5>

                <h5><li><a class="grey-text text-lighten-3" href="#!">Count Dooku</a></li></h5>

                <h5><li><a class="grey-text text-lighten-3" href="#!">Obi-Wan Kenobi</a></li></h5>

              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container left">
          James Lai

          <a class="grey-text text-lighten-4 right" href="#!">Give me an A, Mr. Messina</a>
          </div>
        </div>
      </footer>
</div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

      <!-- JS Initialization -->
      <script type="text/javascript" src="js/init.js"></script>

  </body>



</html>
